In [1]:
import pandas as pd
import numpy as np
import csv
import sqlite3

# Creating the database using Python and SQLite 3

In [17]:
db = sqlite3.connect('database.db') # connects to the database
print("database created successfully!")

database created successfully!

In [3]:
def create_table():
    ''' Create the Casafari table '''
    c = db.cursor()
    c.execute("CREATE TABLE Casafari (id,title,features,living_area,total_area,plot_area,price);")
    print("Table created successfully")

In [4]:
def data_entry():
    ''' Inserts the data into the database '''
    with open('/home/jaremciuc/data_analysis_test/assignment_data.csv') as fin: # it is necessary to change the file path
        c = db.cursor()
        dr = csv.DictReader(fin)
        to_db = [(i['id'], i['title'], i['features'], i['living_area'], i['total_area'], i['plot_area'], i['price']) for i in dr]
        c.executemany("INSERT INTO Casafari (id,title,features,living_area,total_area,plot_area,price) VALUES (?, ?, ?, ?, ?, ?, ?);", to_db)
        db.commit()
        c.close()
        print('Data entered successfully')

In [5]:
create_table()

Table created successfully

In [8]:
data_entry()

Data entered successfully

### Show the first rows

In [9]:
df = pd.read_sql_query("SELECT * FROM Casafari;", db)
df.head(10)

,id,title,features,living_area,total_area,plot_area,price
0,44525,Stunning 6 bedroom villa in the heart of the G...,,,918.0,,4400000
1,44859,"Villa for sale in Rocio de Nagüeles, Marbella ...",,,,,2400000
2,45465,One level 5 bedroom villa for sale in Nagüeles,,,393.0,,1900000
3,50685,Large estate for sale in Rocio de Nagueles,,0.0,640.0,0.0,4250000
4,130728,Palatial Villa on Marbellas Golden Mile with ...,"Fireplace, Elevator, Terrace, Mountain view, F...",0.0,4903.0,11000.0,32000000
5,130856,Large plot with fantastic views in Nagüeles,Mountain view,0.0,0.0,5528.0,2900000
6,130857,Modern Design Penthouse on second line beach G...,"Elevator, Terrace, Alarm system, Mountain view...",220.0,530.0,0.0,3900000
7,130897,Spacious Beachside Villa Casablanca Marbella G...,"Fireplace, Elevator, Terrace, Alarm system, Sw...",411.0,450.0,600.0,3148000
8,130917,Modern Designer Villa with Stunning Views Gold...,"Fireplace, Terrace, Alarm system, Mountain vie...",470.0,845.0,1000.0,2950000
9,130978,Beautiful Villa at the top of Nagüeles with pa...,"Security system, Fireplace, Terrace, Jacuzzi, ...",619.0,738.0,1391.0,2400000

# SQL Tasks

### Write a query to extract only listings with a property type “quinta” or “house”

In [14]:
df = pd.read_sql_query("SELECT * FROM Casafari WHERE title LIKE '%Quinta%' OR features LIKE '%Quinta%' OR title LIKE 'house%' OR features LIKE 'house%';", db)
df.shape

(3804, 7)

### Write a query to extract only listings of properties with a swimming pool

In [15]:
df = pd.read_sql_query("SELECT * FROM Casafari WHERE features LIKE '% pool %' OR title LIKE '% pool %';", db)
df.shape

(1269, 7)

### Write a query to extract listings where a property type is not “plot”

In [16]:
df = pd.read_sql_query("SELECT * FROM Casafari WHERE plot_area = '0.0' AND living_area > '0.0' OR total_area > '0.0';", db)
df.shape

(12660, 7)

### Write a query calculating the average price per square meter of all apartments in Nagüeles

In [73]:
df = pd.read_sql_query("SELECT sum(price)/sum(total_area) FROM Casafari WHERE title LIKE '%Nagüeles%' OR features LIKE '%Nagüeles%';", db)
df

   sum(price)/sum(total_area)
0                 3862.182749